<% layout('layouts/viewtemplates') %> 

    <h1>Avaliable Places <h1>
        <div>
            <a href="/fishground/new">Add new spots</a>
        </div>
        <ul>
            <% for (let  i of titleOfIndex) {%>
            <li> <a href="/fishground/<%= i._id %>"><%= i.title %></a></li>
            <% } %> 
        </ul>
