<% layout('layouts/viewtemplates') %>

<div class="row">
  <h1 class="text-center">Add New FishGround</h1>
  <div class="col-6 offset-3">
    <form action="/fishground" method="POST">
      <div class="mb-3">
        <label class="from-label" for="title"> Title </label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="fishground[title]"
          required
        />
      </div>

      <div class="mb-3">
        <label class="from-label" for="location"> Location </label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="fishground[location]"
        />
      </div>

      <div class="mb-3">
        <label class="from-label" for="image"> Image Url </label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="fishground[image]"
          required
        />
      </div>

      <div class="mb-3">
        <label class="from-label" required for="description">
          description
        </label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="fishground[description]"
        ></textarea>
      </div>
      <button class="btn-primary">Add Location</button>
    </form>
  </div>
</div>
