<% layout('layouts/viewtemplates') %> 
    <form action="/fishground" method="POST">
        <div>
            <label for="title"> Title </label>
            <input type="text" id="title" name = "fishground[title]">
        </div>

        <div>
            <label for="location"> Location </label>
            <input type="text" id="location" name = "fishground[location]">
        </div>
        <button>Add Location</button>

    </form>
