<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Me</title>
</head>
<body>
    
    <h1><%= fishground.title %></h1>
    <h2><%= fishground.location %></h2>
    <p>
        <form action="/fishground/<%=fishground._id %>?_method=DELETE" method = "POST">
        <button>DELETE</button>
        </form>
    </p>
    <footer>
        <a href="/fishground">Back to all avaliable spots</a>
        <a href="/fishground/<%=fishground._id  %>/edit">Edit locations</a>
    </footer>
</body>
</html>